*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

:root{
--black: black;
--white: white;
--red:#561400;
--header: 10vh;
--footer: 5vh;
--main: calc(100vh - calc(var(--header) + var(--footer) ) )
}

:root.dark{
--black:white;
--white:black;
--red:#A33535;
}

/*repetion section*/
header,footer{

display: flex;
justify-content: center;
align-items: center;

}

body{
background-color: var(--white);
color: var(--black);
}


header{
height: var(--header);
border-bottom: 2px solid var(--black);
}


main{
height: var(--main);
display: grid;
}

/*add button*/
main > button:first-of-type{
background-color: var(--white);
color: var(--black);
border: 2px solid var(--black);
justify-self: center;
align-self: start;
margin: 20px;
padding: 5px;
border-radius: 10px;
}

main section:first-of-type{
display: grid;
grid-template: 1fr 1fr / repeat(auto-fit, minmax(180px,1fr));
gap: 10px;
}

main section:first-of-type > *{
border: 2px solid var(--black);
align-self: center;
justify-self: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
border-radius: 10px;
}

main  section:first-of-type > * > button{
background-color: var(--white);
color: var(--black);
border: 2px solid var(--black);
padding: 4px;
border-radius: 7px;
}
footer{
height: var(--footer);
border-top: 2px solid var(--black);
}

#invisibleInterface{
display: none;
flex-direction: column;
position: fixed;
left: 50vw;
top:50vh;
transform: translate(-50%, -50%);
background-color: var(--white);
border: 2px solid var(--black);
padding: 10px;
border-radius: 20px;
z-index: 2;
}

#invisibleInterface  li{
list-style: none;
}

#invisibleInterface > button:first-of-type{
position: absolute;
right: 4%;
top: 7%;
display: flex;
justify-content: center;
align-items: center;
border-radius: 100px;
padding: 3px;
background-color: var(--white);
color: var(--black);
}

input[type='text']{
padding: 2px;
border-radius: 5px;
border: 2px solid var(--black);
background-color: var(--white);
color: var(--black);
}

input[type='text']:focus{
background-color: var(--black);
color: var(--white);
border: 2px solid var(--white);
outline: 0px solid transparent;
}

input[type='text']:focus:invalid{
border: 0px solid transparent;
outline:2px solid var(--red);
}

input:invalid{
outline:2px solid var(--red);

}

#invisibleInterface div{
display: flex;
flex-direction: row;
}

#invisibleEditPopUp {
display: none;
flex-direction: column;
position: fixed;
background-color: var(--white);
left:50vw;
top:50vh;
transform: translate(-50%,-50%);
border: 2px solid var(--black);
padding: 5px;
border-radius: 10px;
}
